// https://codepen.io/ericornelissen/pen/vWbWKv

:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 100px;
  --hex-between: 10px;

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: fill 0.2s linear;
}

/* Hexagons */
.hexagon-container {
  display: grid;
  /* grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width); */
  grid-template-columns:
    var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width)
    var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 28.87px / 2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
  justify-content: center;
  margin-top: 1.5rem;

  -webkit-transition: width 5s, height 5s, background-color 5s,
    -webkit-transform 5s;
  transition: width 5s, height 2s, background-color 5s, transform 5s;
}

@media (max-width: 768px) {
  .hexagon-container {
    grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(
        --hex-width
      );
    margin-left: -50px;
  }
}

.hexagon {
  align-items: center;
  /* background-color: var(--color-hex-default); */
  background-color: transparent;
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);

  &::after,
  &::before {
    border-left: var(--hex-margin) solid transparent;
    border-right: var(--hex-margin) solid transparent;
    content: "";
    left: 0;
    position: absolute;
    transition: var(--hex-transition);
    width: 0;
  }

  &::after {
    border-top: var(--hex-border) solid var(--color-hex-default);
    top: 100%;
    width: 0;
  }
  &::before {
    border-bottom: var(--hex-border) solid var(--color-hex-default);
    bottom: 100%;
  }
  &:hover {
    background-color: var(--color-hex-hover);

    &::after,
    &::before {
      border-top-color: var(--color-hex-hover);
      border-bottom-color: var(--color-hex-hover);
    }
  }

  @media (min-width: 768px) {
    &:nth-child(12n + 7),
    &:nth-child(12n + 8),
    &:nth-child(12n + 9),
    &:nth-child(12n + 10),
    &:nth-child(12n + 11),
    &:nth-child(12n + 12) {
      margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
    }
  }

  @media (max-width: 768px) {
    &:nth-child(8n + 5),
    &:nth-child(8n + 6),
    &:nth-child(8n + 7),
    &:nth-child(8n + 8) {
      margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
    }
  }

  > svg {
    height: 75%;
    transition: var(--hex-transition);
  }

  > img {
    height: 75%;
    transition: var(--hex-transition);
  }
}

/* Colors */
$colors: (
  java:  #007396,
  atom: #66595c,
  bootstrap: #7952b3,
  css: #1572b6,
  git: #f34f29,
  github: #181717,
  javascript: #f0db4f,
  python: #3776ab,
  sass: #cc6699,
  postcss: #dd3a0a,
  vuejs: #4fc08d,
  webpack: #8dd6f9,
  docker: #2496ed,
  kubernetes: #326ce5,
  vscode: #007acc,
  spring: #6db33f,
  intellijidea: #fb2046,
  hexo: #0e83cd,
  go: #00add8,
  linux: #fcc624,
  alpinelinux: #0d597f,
  windows: #0078d6,
  postgres: #336791,
  sqlite: #003b57,
  elasticsearch: #005571,
  jenkins: #d33834,
  aws: #232f3e,
  ubuntu: #e95420,
  sonarqube: #4e9bcd,
  sonarlint: #cb2029,
  eslint: #4b32c3,
  prettier: #f7b93e,
  gradle: #02303a,
);

:root {
  --color-hex-default: #000000;
  --color-hex-hover: #ffffff;

  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

$color-prefix: color-;
@each $name, $color in $colors {
  .#{$color-prefix}#{$name} {
    background-color: #{$color};

    &::after,
    &::before {
      border-top-color: #{$color};
      border-bottom-color: #{$color};
    }
    &:hover {
      fill: #{$color};

      animation-name: pulse;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }

    &.learning {
      opacity: 0.5;

      &:hover {
        background-color: #{$color};
        fill: white;

        &::after,
        &::before {
          border-top-color: #{$color};
          border-bottom-color: #{$color};
        }
      }
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}